%div.title
  = "Noticery"
  %div.subtitle
    = "The art of BULK messaging"
%br/
= link_to "Dashboard", "/"
%br/
= link_to "Address Book", contacts_path
%br/
= link_to "Logout", "/logout"
%br/
%div#activity