%div.title
  = "Noticery"
  %div.subtitle
    = "The art of BULK messaging"
%br/
= link_to "Dashboard", "/"
%br/
= link_to "Contacts Manager", contacts_path
%br/
= link_to "Groups Organizer", groups_path
%br/
= link_to "Logout", "/logout"
%br/
%div#activity