%div.modal_title
  = "Please Wait"
%center
  = image_tag("loader_bar.gif")
%div.modal_paragraph
  %br/
  %center
    = "Requesting permission to #{@provider}."
    %br/
    = "Please be patient, this could take a while."