%td.center
  = check_box_tag 'ids[]', contact.id, false, id: "contact_id_#{contact.id}", class: 'contact_id_checkbox'
%td.left
  - if contact.status == 'active'
    = link_to raw(image_tag('minicon_checked_user.png', class: 'minicon contact_list_tip', title: "This contact is verified")), 
      {controller: 'contacts', action: 'show', id: contact.id}, 
      remote: true, onclick: "add_activity('Opening Update Contact window')", class: 'name_link'
  - elsif contact.status == 'new'
    = image_tag('minicon_warning.png', class: 'minicon contact_list_tip', title: "This contact is unverified:<br/>Add an Email Address to verify")
  - elsif contact.status == 'imported'
    = link_to raw(image_tag('minicon_warning.png', class: 'minicon contact_list_tip', title: "This contact is unverified:<br/>Modify the Name to verify")), 
      {controller: 'contacts', action: 'edit', id: contact.id}, 
      remote: true, onclick: "add_activity('Opening Update Contact window')", class: 'name_link'
  = link_to "#{contact.complete_name}", {controller: 'contacts', action: 'show', id: contact.id}, 
    remote: true, onclick: "add_activity('Opening View Contact window')", class: 'name_link contact_email_tip',
    title: "#{contact.primary_email || 'No Email Address Assigned'}"
  = link_to raw(image_tag('minicon_pencil.png', class: 'minicon contact_inline_edit_button hidden')), 
      {controller: 'contacts', action: 'edit', id: contact.id}, 
      remote: true, onclick: "add_activity('Opening Update Contact window')", class: 'name_link'
%td.center
  = contact.source
  =# link_to "View", {controller: 'contacts', action: 'show', id: contact.id}, 
    remote: true, onclick: "add_activity('Opening View Contact window')"
  =# link_to "Update", edit_contact_path(contact),
    remote: true, onclick: "add_activity('Opening Update Contact window')"