%table.list_view
  %tr
    %th.center
      = check_box_tag 'contact_id_toggle', 0, false
    - column_name = 'first_name'
    %th.left{class: "#{'active' if @order.split(' ').first == column_name}"}
      = link_to "Name", 
        "contacts_sort?order=#{column_name} #{'DESC' if @order.split(' ').size == 1}",
        {remote: true}
    %th.left
      = "Email Address"
    - column_name = 'source'
    %th.center{class: "#{'active' if @order.split(' ').first == column_name}"}
      = link_to "Source", 
        "contacts_sort?order=#{column_name} #{'DESC' if @order.split(' ').size == 1}",
        {remote: true}
    %th
  - @contacts.each do |contact|
    %tr{class: "#{cycle('odd', 'even')}", id: "contact_entry_#{contact.id}"}
      = render :partial => 'contacts/contact', locals: {contact: contact}
%script
  $(".contact_list_tip").tipTip({delay: 100, maxWidth: '500px', defaultPosition: 'left'})