%div.contact_header
  %div.contact_show
    = "#{@contact.first_name} #{@contact.last_name}"
    %br/
    %div.contact_show_menu
      = link_to "Add Email Address", new_email_address_path(contact_id: @contact.id), class: '', 
        remote: true, onclick: "add_activity('Preparing to add email address')"
      %br/
      = link_to "Update Contact", edit_contact_path(@contact), class: '', 
        remote: true
      %br/
      = link_to_function "Close", "hide_modal()"
      %br/
  %div.contact_badges
    - if @contact.gender.present?
      - call = @contact.gender == "M" ? "him" : "her"
    - else
      - call = "him/her"
    = image_tag('minicon_contact.png', class: 'contact_show_tip', title: "Added to contacts since #{date_format_c(@contact.created_at)}")
    - if @contact.status == 'active'
      = image_tag('minicon_checked_user.png', class: 'contact_show_tip', title: "This contact is verified")
    - elsif @contact.status == 'new'
      = image_tag('minicon_barcode.png', class: 'contact_show_tip', title: "This contact is unverified:<br/>Add an Email Address to verify")
    - if @contact.nick_name.present?
      = image_tag('minicon_star_topic.png', class: 'contact_show_tip', title: "You can call #{call} \"#{@contact.nick_name}\"")
    - if @contact.birth_date.present?
      = image_tag('minicon_cake.png', class: 'contact_show_tip', title: "Born on #{date_format_c(@contact.birth_date)}")
    %script
      $(".contact_show_tip").tipTip({delay: 100, maxWidth: '500px', defaultPosition: 'right'})
  = render partial: 'email_addresses/change_primary'
%div.contact_content
  = render partial: "email_addresses/list"