%h1 Listing contacts

%table
  %tr
    %th User
    %th First name
    %th Last name
    %th Nick name
    %th Gender
    %th Birth date
    %th Source
    %th Source reference
    %th
    %th
    %th

  - @contacts.each do |contact|
    %tr
      %td= contact.user_id
      %td= contact.first_name
      %td= contact.last_name
      %td= contact.nick_name
      %td= contact.gender
      %td= contact.birth_date
      %td= contact.source
      %td= contact.source_reference
      %td= link_to 'Show', contact
      %td= link_to 'Edit', edit_contact_path(contact)
      %td= link_to 'Destroy', contact, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Contact', new_contact_path
