%div.main{class: 'with_rightpanel'}
  %div.header
    %div.head_options
      = link_to head_icon_link('icon_magnifier.png','Find'), new_contact_path, 
        class: 'head_link', remote: true
      = link_to head_icon_link('icon_mark.png','Delete'), "#",
        class: 'head_link', remote: true, id: 'contact_delete'
      = link_to head_icon_link('icon_import.png','Import'),
        {controller: 'import', action: 'new'},
        class: 'head_link', remote: true, onclick: "add_activity('Opening Import Contacts window')"
      = link_to head_icon_link('icon_plus.png','Add'), new_contact_path,
        class: 'head_link', remote: true, onclick: "add_activity('Opening Add Contact window')"
    %div.main_title
      = "Address Book"
    = render :partial => "delete"
  %div#main_container
    %div#results
      = render :partial => "list", locals: {contacts: @contacts}
%div.right_panel
  %div.panel
    %div.header
      %div.head_options
        = link_to right_icon_link('icon_plus.png','Add'), new_contact_path,
          class: 'head_link', remote: true, onclick: "add_activity('Opening Add Contact window')"
      %div.main_title
        = "Groups"
      %div.group_space
        = render partial: 'groups/list'
  %div.panel
    = "Statuses"