%table.list_view{id: 'add_email_form'}
  %tr
    %th.center{width: '20'}
      = ""
    %th.left
      = "Email Address"
    %th.left
      = ""
  - if @contact.valid_email_addresses.count > 0
    - @contact.valid_email_addresses.each do |email|
      %tr{class: "#{cycle('odd', 'even')}", id: "contact_email_#{email.id}"}
        = render :partial => 'email_addresses/email', locals: {email: email}
  %tr{class: "#{cycle('odd', 'even')}", id: "no_email_space"}
    %td.left{colspan: '3'}
      = link_to "Add Email Address", new_email_address_path(contact_id: @contact.id),
        class: '', remote: true
  = render partial: "email_addresses/new"
%script
  $(".email_buttons").tipTip({delay: 100, maxWidth: '500px', defaultPosition: 'left'})
  $(".email_fields").tipTip({delay: 100, maxWidth: '500px', defaultPosition: 'top'})